/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Base Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    transition: all 0.2s ease-in-out;
}

#containerL {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 20vw;
    padding: 1vw;
    border-radius: 3%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: anime 4s 0s ease-in-out infinite normal;
    transition: 2s;
}

input {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 3%;
    height: 6vh;
    font-size: 2vh;
    padding-left: 4%;
    margin: 3% 0;
    width: 100%;
    box-sizing: border-box;
}
#cbL{
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#checkboxL {
    color: #666666;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 60%;
    margin: 10px 0;
    width: 50%;
}
#checkboxL p{
    width: 20vw;
    font-size: 120%;
}
#mailL {
    margin-bottom: 10px;
}

#containerL a {
    text-decoration: none;
    color: #8e44ad;
    font-size: 80%;
    margin-top: 5%;
}

#containerL h1 {
    color: #8e44ad;
    font-size: 3vw;
    margin-bottom: 4%;
    animation: h1 4s 0s ease-in-out infinite normal;
    transition: 2s;
}

#containerL h3 {
    color: #666666;
    margin-bottom: 10%;
}

#buttonL {
    background-color: #8e44ad;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    animation: buttonL 4s 0s ease-in-out infinite normal;
    transition: 2s;
}

#buttonL:hover {
    background-color: #732d91;
}

@keyframes buttonL {
    0%, 100% {
        background-color: #8e44ad;
    }
    50% {
        background-color: #732d91;
    }
}

@keyframes h1 {
    0%, 100% {
        color: #8e44ad;
    }
    50% {
        color: #732d91;
    }
}

@keyframes anime {
    0%, 100% {
        box-shadow: 0 0 10px #8e44ad, 0 0 20px #8e44ad, 0 0 30px #8e44ad, 0 0 40px #8e44ad;
    }
    50% {
        box-shadow: 0 0 10px #732d91, 0 0 20px #732d91, 0 0 30px #732d91, 0 0 40px #732d91;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {

    #containerL h1 {
        font-size: 20px;
    }

    #buttonL {
        font-size: 14px;
    }
}
