body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #212121;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: #161616;
    padding-top: 40px;
    animation:anime 2s 0s ease-in-out  infinite  normal;
    animation-direction: alternate-reverse;
    transition: 2s;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */


}
input{
    border: 1px solid white;
    background-color: #161616;
    border-radius: 5px;
    height: 25px;
    font-size: 12px;
    padding-left: 17px;
    cursor: blink;
    color: white;
}
#checkbox{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
    position: relative;
    right: 32px;
}
#mail{
    margin-top: 30px;
    margin-bottom: 10px;
}
#password{
}
a{
    text-decoration: none;
    color: #555555;
    font-size: 14px;
}

h1{
    color: #3eff8c;
    height: 8px;
}
h3{
    color: #cccccc;
}
button{
    background-color: #3eff8c;
    height: 32px;
    width: 173px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 10px;
}
@keyframes anime{
    0%{
        box-shadow: 0 0 1px #3eff8c,
        0 0 5px #3eff8c,
        0 0 10px #3eff8c,
        0 0 15px #3eff8c;
    }
    100%{
        box-shadow: 0 0 5px #3eff8c,
        0 0 25px #3eff8c,
        0 0 50px #3eff8c,
        0 0 100px #3eff8c;
    }
}